.content {
  background-color: #333436;
  color: #ffffff;
  display: flex;
  flex-direction: column;

  .articles {
    flex: 1;
    padding: 1rem;
    margin-top: 1rem;

    .article {
      margin-left: 5rem;
      padding: 1rem;
      height: 10rem;
    }
  }
}
