.content {
  background-color: #5e9d8f;
  display: flex;
  flex-direction: column;

  .articles {
    flex: 1;
    background-color: #a4689a;
    padding: 1rem;

    .article {
      background-color: #67537e;
      padding: 1rem;
      height: 10rem;
    }
  }
}
